<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <!--                    <report_only>0</report_only>-->
                    <!--                    <report_uri>/fl32csp/report</report_uri>-->
                </storefront>
                <admin>
                    <report_only>0</report_only>
                    <report_uri>/fl32csp/boo</report_uri>
                </admin>
            </mode>
        </csp>
        <fl32_csp>
            <general>
                <enabled>0</enabled>
            </general>
            <cron>
                <enabled>1</enabled>
            </cron>
            <reports>
                <developer_only>0</developer_only>
                <developer_ips>127.0.0.1</developer_ips>
                <developer_email_csv>associateOne@example.com,associateOne@example.com,</developer_email_csv>
                <report_email_from>noreply@example.com</report_email_from>
                <report_email_from_clear_name>Security Department</report_email_from_clear_name>
            </reports>
            <rules>
                <new_rules_active>1</new_rules_active>
                <report_only>1</report_only>
            </rules>
        </fl32_csp>
    </default>
</config>
