<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
<!--                    <report_only>0</report_only>-->
                    <report_uri>/fl32csp/report</report_uri>
                </storefront>
                <admin>
<!--                    <report_only>0</report_only>-->
                    <report_uri>/fl32csp/report</report_uri>
                </admin>
            </mode>
        </csp>
    </default>
</config>
