<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ******* -->
    <!-- API DAO -->
    <!-- ******* -->
    <preference for="Flancer32\Csp\Api\Repo\Dao\Type\Policy"
                type="Flancer32\Csp\Repo\Dao\Type\Policy"/>
    <preference for="Flancer32\Csp\Api\Repo\Dao\Report"
                type="Flancer32\Csp\Repo\Dao\Report"/>

    <!-- ******************** -->
    <!-- Plugins/Interceptors -->
    <!-- ******************** -->

    <type name="Magento\Csp\Observer\Render">
        <!-- Clean up headers after Magento processing of CSP (report-uri is deprecated but works). -->
        <plugin name="fl32_csp_plugin"
                type="Flancer32\Csp\Plugin\Magento\Csp\Observer\Render"
                sortOrder="100" disabled="false"/>
    </type>


    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="500" xsi:type="object">Flancer32\Csp\Model\Collector\Db</item>
            </argument>
        </arguments>
    </type>

</config>
