<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ******* -->
    <!-- API DAO -->
    <!-- ******* -->
    <preference for="Flancer32\Csp\Api\Repo\Dao\Type\Policy"
                type="Flancer32\Csp\Repo\Dao\Type\Policy"/>
    <preference for="Flancer32\Csp\Api\Repo\Dao\Report"
                type="Flancer32\Csp\Repo\Dao\Report"/>
    <preference for="Flancer32\Csp\Api\Repo\Dao\Rule"
                type="Flancer32\Csp\Repo\Dao\Rule"/>

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fl32_csp_analyze" xsi:type="object">Flancer32\Csp\Cli\Analyze</item>
                <item name="fl32_csp_report_new_rules" xsi:type="object">Flancer32\Csp\Cli\SendReports</item>
            </argument>
        </arguments>
    </type>

    <!-- ******************** -->
    <!-- Plugins/Interceptors -->
    <!-- ******************** -->

    <type name="Magento\Csp\Observer\Render">
        <!-- Clean up headers after Magento processing of CSP (report-uri is deprecated but works). -->
        <plugin name="fl32_csp_plugin"
                type="Flancer32\Csp\Plugin\Magento\Csp\Observer\Render"
                sortOrder="100" disabled="false"/>
    </type>


    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="500" xsi:type="object">Flancer32\Csp\Model\Collector\Db</item>
            </argument>
        </arguments>
    </type>

    <!-- ******************** -->
    <!-- email reporting protocol -->
    <!-- ******************** -->


    <preference for="Flancer32\Csp\Api\Fl32ReportsSentRepositoryInterface" type="Flancer32\Csp\Model\Fl32ReportsSentRepository"/>
    <preference for="Flancer32\Csp\Api\Data\Fl32ReportsSentInterface" type="Flancer32\Csp\Model\Data\Fl32ReportsSent"/>
    <preference for="Flancer32\Csp\Api\Data\Fl32ReportsSentSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Flancer32\Csp\Api\RuleSentRepositoryInterface" type="Flancer32\Csp\Model\RuleSentRepository"/>
    <preference for="Flancer32\Csp\Api\Data\RuleSentInterface" type="Flancer32\Csp\Model\Data\RuleSent"/>
    <preference for="Flancer32\Csp\Api\Data\RuleSentSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

</config>
