<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!-- route ID should be equal to the route front name (https://github.com/magento/magento2/pull/11020) -->
        <route id="fl32csp" frontName="fl32csp">
            <module name="Flancer32_Csp"/>
        </route>
    </router>
</config>
